<div id="text-4" class="mh-widget mh-home-6 widget_text">
							<div class="textwidget">
								<div class="mh-ad-spot">
									<a href="http://ibiz247.thuysan247.com" target="_blank" title="Trang Doanh Nghiệp thủy sản Việt Nam"><img src="/img/ibiz247.gif" width="300" height="250" alt="Adv thuysan247"
										/></a>
								</div>
							</div>
						</div>
<div id="text-10" class="mh-widget mh-home-6 widget_text">
	<div class="textwidget">
		<div class="mh-ad-spot">
			<a href="https://shop.zalo.me/store/product?id=cc1775046041891fd050&zone=product_all" target="_blank" title="Trang Doanh Nghiệp thủy sản Việt Nam"><img src="/img/leaflet_2.png" width="300" height="250" alt="Adv thuysan247"
				/></a>
		</div>
	</div>
</div>


						