<div id="text-5" class="mh-widget mh-home-6 widget_text">
							<div class="textwidget">
								<div class="mh-ad-spot">
									<a href="https://www.facebook.com/permalink.php?story_fbid=126336147979531&id=100018094392500&pnref=story"target="_blank" title="thuysan247.com"><img src="/img/CompactDryVP-387x320-02_1.png" width="300" height="250" alt="Adv thuysan247"
										/></a>
								</div>
							</div>
						</div>
<div id="text-11" class="mh-widget mh-home-6 widget_text">
	<div class="textwidget">
		<div class="mh-ad-spot">
			<a href="https://shop.zalo.me/store/product?id=e3e815fb00bee9e0b0af&zone=product_all"target="_blank" title="thuysan247.com"><img src="/img/dktnam-banner-01.png" width="300" height="250" alt="Adv thuysan247"
				/></a>
		</div>
	</div>
</div>