<div class="mh-widget-col-1 mh-sidebar-2 mh-home-sidebar-2 mh-sidebar-wide">
	<div id="mh_magazine_tabbed-2" class="mh-widget mh-home-12 mh_magazine_tabbed">
		<div class="mh-tabbed-widget">
			<div class="mh-tab-buttons clearfix">
				<a class="mh-tab-button" href="index.html#tab-mh_magazine_tabbed-2-1"> <span><i class="fa fa-newspaper-o"></i></span> </a>
				<a class="mh-tab-button" href="index.html#tab-mh_magazine_tabbed-2-2">
					<span><i class="fa fa-tags"></i></span> </a>
				<a class="mh-tab-button" href="index.html#tab-mh_magazine_tabbed-2-3">
					<span><i class="fa fa-comments-o"></i></span> </a>
			</div>
			<div id="tab-mh_magazine_tabbed-2-1" class="mh-tab-content mh-tab-posts">
				<ul class="mh-tab-content-posts">
                    {{#each (first (lookupCategory AllCategory 'category' 'files') 10)}} {{#lt @key 5}} {{else}}
					<li class="mh-tab-post-item post-39 post type-post status-publish format-standard has-post-thumbnail category-world-news tag-capital tag-news tag-politics">
						<a href="/{{slug}}"> {{title}} </a>
					</li>
					{{/lt}} {{/each}}
				</ul>
			</div>
			<div id="tab-mh_magazine_tabbed-2-2" class="mh-tab-content mh-tab-cloud">
				<div class="tagcloud mh-tab-content-cloud">
					<a href='http://demo.mhthemes.com/magazine4/tag/airplane/' class='tag-link-28 tag-link-position-1' title='2 topics' style='font-size: 12px;'>Airplane</a>
					<a href='http://demo.mhthemes.com/magazine4/tag/amusement/' class='tag-link-56 tag-link-position-2' title='3 topics' style='font-size: 12px;'>Amusement</a>
					<a href='http://demo.mhthemes.com/magazine4/tag/asia/' class='tag-link-29 tag-link-position-3' title='2 topics' style='font-size: 12px;'>Asia</a>
					<a href='http://demo.mhthemes.com/magazine4/tag/capital/' class='tag-link-18 tag-link-position-4' title='2 topics' style='font-size: 12px;'>Capital</a>
					<a href='http://demo.mhthemes.com/magazine4/tag/city/' class='tag-link-31 tag-link-position-5' title='4 topics' style='font-size: 12px;'>City</a>
					<a href='http://demo.mhthemes.com/magazine4/tag/competition/' class='tag-link-39 tag-link-position-6' title='3 topics' style='font-size: 12px;'>Competition</a>
					<a href='http://demo.mhthemes.com/magazine4/tag/entertainment/' class='tag-link-52 tag-link-position-7' title='10 topics'
						style='font-size: 12px;'>Entertainment</a>
						<a href='http://demo.mhthemes.com/magazine4/tag/event/' class='tag-link-53 tag-link-position-8' title='2 topics' style='font-size: 12px;'>Event</a>
						<a href='http://demo.mhthemes.com/magazine4/tag/football/' class='tag-link-46 tag-link-position-9' title='2 topics' style='font-size: 12px;'>Football</a>
						<a href='http://demo.mhthemes.com/magazine4/tag/golfing/' class='tag-link-43 tag-link-position-10' title='2 topics' style='font-size: 12px;'>Golfing</a>
						<a href='http://demo.mhthemes.com/magazine4/tag/holidays/' class='tag-link-26 tag-link-position-11' title='3 topics' style='font-size: 12px;'>Holidays</a>
						<a href='http://demo.mhthemes.com/magazine4/tag/international/' class='tag-link-14 tag-link-position-12' title='3 topics'
							style='font-size: 12px;'>International</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/lifestyle/' class='tag-link-41 tag-link-position-13' title='2 topics' style='font-size: 12px;'>Lifestyle</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/military/' class='tag-link-13 tag-link-position-14' title='3 topics' style='font-size: 12px;'>Military</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/news/' class='tag-link-12 tag-link-position-15' title='10 topics' style='font-size: 12px;'>News</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/politics/' class='tag-link-17 tag-link-position-16' title='4 topics' style='font-size: 12px;'>Politics</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/resort/' class='tag-link-36 tag-link-position-17' title='2 topics' style='font-size: 12px;'>Resort</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/science/' class='tag-link-59 tag-link-position-18' title='10 topics' style='font-size: 12px;'>Science</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/soldiers/' class='tag-link-16 tag-link-position-19' title='2 topics' style='font-size: 12px;'>Soldiers</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/sport/' class='tag-link-37 tag-link-position-20' title='10 topics' style='font-size: 12px;'>Sport</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/traffic/' class='tag-link-19 tag-link-position-21' title='4 topics' style='font-size: 12px;'>Traffic</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/travel/' class='tag-link-25 tag-link-position-22' title='11 topics' style='font-size: 12px;'>Travel</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/trip/' class='tag-link-27 tag-link-position-23' title='3 topics' style='font-size: 12px;'>Trip</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/wintersport/' class='tag-link-50 tag-link-position-24' title='2 topics' style='font-size: 12px;'>Wintersport</a>
							<a href='http://demo.mhthemes.com/magazine4/tag/work/' class='tag-link-20 tag-link-position-25' title='3 topics' style='font-size: 12px;'>Work</a>
				</div>
			</div>
			<div id="tab-mh_magazine_tabbed-2-3" class="mh-tab-content mh-tab-comments">
				<ul class="mh-tab-content-comments">
					<li class="mh-tab-comment-item"> <span class="mh-tab-comment-avatar"> <img src="wp-content/uploads/sites/19/2016/08/Celine.png" width="24" height="24" alt="thuysan247" class="avatar avatar-24 wp-user-avatar wp-user-avatar-24 alignnone photo" /> </span>						<span class="mh-tab-comment-author"> Celine: </span>
						<a href="http://demo.mhthemes.com/magazine4/duis-arcu-tortor-suscipit-eget-imperdiet-nec/#comment-11">
							<span class="mh-tab-comment-excerpt"> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </span>							</a>
					</li>
					<li class="mh-tab-comment-item"> <span class="mh-tab-comment-avatar"> <img src="wp-content/uploads/sites/19/2016/08/MH_Themes.png" width="24" height="24" alt="thuysan247" class="avatar avatar-24 wp-user-avatar wp-user-avatar-24 alignnone photo" /> </span>						<span class="mh-tab-comment-author"> Aline: </span>
						<a href="http://demo.mhthemes.com/magazine4/plu-commun-vocabules-omnicos-directe/#comment-10">
							<span class="mh-tab-comment-excerpt"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat&hellip; </span>							</a>
					</li>
					<li class="mh-tab-comment-item"> <span class="mh-tab-comment-avatar"> <img src="wp-content/uploads/sites/19/2016/08/John.png" width="24" height="24" alt="thuysan247" class="avatar avatar-24 wp-user-avatar wp-user-avatar-24 alignnone photo" /> </span>						<span class="mh-tab-comment-author"> John: </span>
						<a href="http://demo.mhthemes.com/magazine4/it-va-esser-tam-simplic-quam-occidental-in-fact/#comment-9">
							<span class="mh-tab-comment-excerpt"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat&hellip; </span>							</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="mh_magazine_nip-2" class="mh-widget mh-home-12 mh_magazine_nip">
		<h4 class="mh-widget-title"><span class="mh-widget-title-inner">Pictures</span></h4>
		<ul class="mh-nip-widget clearfix">
            {{#each (first (lookupCategory AllCategory 'category' 'files') 17)}} {{#lt @key 8}} {{else}}
			<li class="mh-nip-item post-119 post type-post status-publish format-standard has-post-thumbnail category-science tag-iphone tag-science tag-technology">
				<a class="mh-thumb-icon mh-thumb-icon-small" href="/{{slug}}"
					title="{{title}}"> <img width="112" height="92" src="{{Anhtieude}}" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image"
						alt="thuysan247" srcset="{{Anhtieude}} 80w, {{Anhtieude}} 678w, {{Anhtieude}} 326w"
						sizes="(max-width: 80px) 120vw, 100px" />
					<div class="mh-nip-overlay"></div>
					</a>
			</li>
			{{/lt}} {{/each}}
		</ul>
	</div>
	<div id="mh_magazine_custom_posts-5" class="mh-widget mh-home-3 mh_magazine_custom_posts">
	<h4 class="mh-widget-title">
    <span class="mh-widget-title-inner">
        <!--BAO: su dung bien 'ky-thuat.nuoi-tom' khai bao trong /Meta -->
        {{#with (lookupCategory AllCategory 'category')}}
            <a href="/{{href}}" class="mh-widget-title-link">Tiếng Việt</a>
        {{/with}}
        </span>
    </h4>
	<ul class="mh-custom-posts-widget clearfix">
        <!--BAO:  thay the bang (lookupCategory AllCategory 'ky-thuat.nuoi-tom' 'files') -->
		{{#each (first (lookupCategory AllCategory 'danh-muc' 'files') 3)}}
        {{#lt @key 1}} <!-- BAO: Hien thi bai viet dau tien -->
        <li class="mh-custom-posts-item mh-custom-posts-large clearfix post-22 post type-post status-publish format-standard has-post-thumbnail category-world-news tag-news tag-soldiers tag-training">
			<div class="mh-custom-posts-large-inner clearfix">
				<figure class="mh-custom-posts-thumb-xl">
					<a class="mh-thumb-icon mh-thumb-icon-small-mobile" href="{{slug}}" title="{{title}}"><img width="326" height="245" src="{{Anhtieude}}" class="attachment-mh-magazine-medium size-mh-magazine-medium wp-post-image"
							alt="thuysan247" srcset="{{Anhtieude}} 326w, {{Anhtieude}} 678w, {{Anhtieude}} 80w" sizes="(max-width: 326px) 100vw, 326px"
						/> </a>
				</figure>
				<div class="mh-custom-posts-content">
					<div class="mh-custom-posts-header">
						<h3 class="mh-custom-posts-xl-title">
							<a href="/{{slug}}" title="{{title}}">
								{{title}} </a>
						</h3>
						<div class="mh-meta entry-meta"> <span class="entry-meta-date updated"><i class="fa fa-clock-o"></i><a href="/{{slug}}">{{moment date lang="vi" format="DD MM YYYY"}}</a></span>							
                        </div>
					</div>
					<div class="mh-excerpt">{{doangioithieu}}
						<a class="mh-excerpt-more" href="/{{slug}}" title="{{title}}">[...]</a>
					</div>
				</div>
			</div>
		</li>
        {{else}} <!-- BAO: Hien 2 thi bai viet tiep theo trong first 3 -->
		<li class="mh-custom-posts-item mh-custom-posts-large clearfix post-22 post type-post status-publish format-standard has-post-thumbnail category-world-news tag-news tag-soldiers tag-training">
			<div class="mh-custom-posts-large-inner clearfix">
				<figure class="mh-custom-posts-thumb-xl">
					<a class="mh-thumb-icon mh-thumb-icon-small-mobile" href="{{slug}}" title="{{title}}"><img width="326" height="245" src="{{Anhtieude}}" class="attachment-mh-magazine-medium size-mh-magazine-medium wp-post-image"
							alt="thuysan247" srcset="{{Anhtieude}} 326w, {{Anhtieude}} 678w, {{Anhtieude}} 80w" sizes="(max-width: 326px) 100vw, 326px"
						/> </a>
				</figure>
				<div class="mh-custom-posts-content">
					<div class="mh-custom-posts-header">
						<h3 class="mh-custom-posts-xl-title">
							<a href="/{{slug}}" title="{{title}}">
								{{title}} </a>
						</h3>
						<div class="mh-meta entry-meta"> <span class="entry-meta-date updated"><i class="fa fa-clock-o"></i><a href="/{{slug}}">{{moment date lang="vi" format="DD MM YYYY"}}</a></span>							
                        </div>
					</div>
					<div class="mh-excerpt">{{doangioithieu}}
						<a class="mh-excerpt-more" href="/{{slug}}" title="{{title}}">[...]</a>
					</div>
				</div>
			</div>
		</li>
		{{/lt}} {{/each}} 
        
	</ul>
</div>