<footer class="mh-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="mh-container mh-container-inner mh-footer-widgets mh-row clearfix">
		<div class="mh-col-1-4 mh-widget-col-1 mh-footer-4-cols  mh-footer-area mh-footer-1">
			<div id="mh_magazine_author_bio-2" class="">
				<div class="mh-author-bio-widget">
					<h4 class="mh-author-bio-title">THUYSAN247.COM</h4>
					<figure class="mh-author-bio-avatar">
						<a href="/"> <img src="{{global.logo120}}" width="120" height="120" alt="thuysan247" class="avatar avatar-120 wp-user-avatar wp-user-avatar-120 alignnone photo"
							/> </a>
					</figure>
					<h4 class="mh-author-bio-text">TRANG THÔNG TIN THỦY SẢN</h4>
				</div>
			</div>
		</div>
		<div class="mh-col-1-4 mh-widget-col-1 mh-footer-4-cols  mh-footer-area mh-footer-2">
			<div id="nav_menu-2" class="mh-footer-widget widget_nav_menu">
				<h6 class="mh-widget-title mh-footer-widget-title"><span class="mh-widget-title-inner mh-footer-widget-title-inner">Liên hệ quảng cáo</span></h6>
				<div class="menu-information-container">
					<ul id="menu-information" class="menu">
						<li id="menu-item-293" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-293">
							<a target="_blank">Công ty TNHH Easy Web</a>
						</li>
						<li id="menu-item-294" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-294">
							<a target="_blank">Lầu 6, tòa nhà Sài Gòn Town</a>
						</li>
						<li id="menu-item-295" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-295">
							<a target="_blank">83/16 Thoại Ngọc Hầu, Q.Tân Phú, Tp.HCM</a>
						</li>
						<li id="menu-item-296" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-296">
							<a target="_blank">Hotline: 089 9462899 - 0931.828.928</a>
						</li>
						<li id="menu-item-297" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-297">
							<a target="_blank">Email: info@thuysan247.com - contact@thuysan247.com</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="mh-col-1-4 mh-widget-col-1 mh-footer-4-cols  mh-footer-area mh-footer-4">
			<div id="fb-root"></div>
			<script>
				(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
			</script>

			<div id="mh_magazine_authors-2" class="mh-footer-widget mh_magazine_authors">
				<h6 class="mh-widget-title mh-footer-widget-title"><span class="mh-widget-title-inner mh-footer-widget-title-inner">Facebook</span></h6>
				<ul class="mh-user-widget mh-authors-widget clearfix">
					<div class="fb-page" data-href="https://www.facebook.com/thuysan247/" data-tabs="timeline" data-width="350" data-height="350"
						data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
						<blockquote cite="https://www.facebook.com/thuysan247/" class="fb-xfbml-parse-ignore">
							<a href="https://www.facebook.com/thuysan247/">Diễn đàn nuôi tôm</a>
						</blockquote>
			</div>
			</ul>
		</div>
	</div>
	<div class="mh-col-1-4 mh-widget-col-1 mh-footer-4-cols  mh-footer-area mh-footer-3">
		<div id="mh_magazine_recent_comments-2" class="mh-footer-widget mh_magazine_recent_comments">
			<h6 class="mh-widget-title mh-footer-widget-title"><span class="mh-widget-title-inner mh-footer-widget-title-inner">twitter</span></h6>
			<ul class="mh-user-widget mh-recent-comments-widget clearfix">
				<script>
					window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
				</script>

				<a class="twitter-timeline" href="https://twitter.com/thuysan247" data-width="350" data-height="350">
					Tweets by @thuysan247
				</a>


			</ul>
		</div>
	</div>
	</div>
</footer>
<script type="text/javascript">
	(function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/6/e/6ed6d82839d2c30139a607c50d327124/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));

</script>
<div class="mh-footer-nav-mobile"></div>
<div class="mh-copyright-wrap">
	<div class="mh-container mh-container-inner clearfix">
		<p class="mh-copyright"> Copyright &copy; 2017 |
			<a href="https://thuysan247.com/" title="Trang thông tin thủy sản" rel="nofollow">www.thuysan247.com</a>
		</p>
	</div>
</div>
<a href="index.html#" class="mh-back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>
<div id="fb-root"></div>
<script>
	(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));

</script>
<script type='text/javascript'>
	var _wpcf7={"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"cached":"1"};

</script>
<script src="wp-content/cache/min/19/96cd1a6faf9534c79cc01219c5508056.js" data-minify="1"></script>
<script src="https://sp.zalo.me/plugins/sdk.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
$('*').bind('cut copy paste contextmenu', function (e) {
    e.preventDefault();
})});

</script>
</body>